# Created by https://www.gitignore.io/api/python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/


# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml


# Flask stuff:
instance/
migrations/


# Environments
.env
mypython/