<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/dc.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/crossfilter.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dc.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3-queue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>
    <header>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{url_for('my_recipes')}}"><i class="material-icons right">list</i>My Recipes&nbsp;</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('my_saved_recipes')}}"><i class="material-icons right">list</i>My Saved Recipes&nbsp;</a></li>
        </ul>
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="{{url_for('recipe_list_filtered')}}"><i class="material-icons right">filter_list</i>Filter List&nbsp;</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('recipe_search')}}"><i class="material-icons right">search</i>Recipe Name Search&nbsp;</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('ingredient_search')}}"><i class="material-icons right">search</i>Ingredient Search&nbsp;</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
              <a href="{{url_for('index')}}" class="brand-logo">FooD BooK</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                  <!-- Dropdown Trigger -->
                <!-- <li><a class="dropdown-trigger" href="{{url_for('index')}}" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i>Recipes</a></li> -->
                <!-- <li><a class="dropdown-trigger" href="{{url_for('recipe_list_filtered')}}" data-target="dropdown2"><i class="material-icons right">arrow_drop_down</i>Search</a></li> -->
                <li><a href="{{url_for('my_recipes')}}"><i class="material-icons right">person</i>My Recipes&nbsp;</a></li>
                <li><a href="{{url_for('my_saved_recipes')}}"><i class="material-icons right">star</i>Saved Recipes&nbsp;</a></li>
                <li><a class="waves-effect waves-light btn" href="{{url_for('add_recipe')}}"><i class="material-icons right">add</i>Add New Recipe</a></li>
                <li><a href="{{url_for('manage_static_data')}}"><i class="material-icons right">settings</i>Manage Categories</a></li>
                <li><a href="{{url_for('dashboard')}}"><i class="material-icons right">dashboard</i>Dashboard</a></li>
              </ul>
            </div>
          </nav>
        
          <ul class="sidenav" id="mobile-demo">
              <!-- <li><a class="dropdown-trigger" href="{{url_for('index')}}" data-target="recipes-dropdown"><i class="material-icons right">arrow_drop_down</i>Recipes</a></li>
              <li><a class="dropdown-trigger" href="{{url_for('recipe_list_filtered')}}" data-target="search-dropdown"><i class="material-icons right">arrow_drop_down</i>Search</a></li> -->
              <li><a href="{{url_for('my_recipes')}}"><i class="material-icons right">person</i>My Recipes&nbsp;</a></li>
              <li><a href="{{url_for('my_saved_recipes')}}"><i class="material-icons right">save</i>Saved Recipes&nbsp;</a></li>
              <li><a class="waves-effect waves-light btn" href="{{url_for('add_recipe')}}"><i class="material-icons right">add</i>Add New Recipe</a></li>
              <li><a href="{{url_for('manage_static_data')}}"><i class="material-icons right">settings</i>Manage Categories</a></li>
              <li><a href="{{url_for('dashboard')}}"><i class="material-icons right">dashboard</i>Dashboard</a></li>
          </ul>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>