{% extends 'base.html'%} {% block content %}
<div class="row">
    <h1>Edit Ingredient</h1>
    <form class="col s12" method="POST" action="{{ url_for('update_quantity', id=quantity.id) }}">

    <div class="input-field col s12">
        <label for="quantity" >Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{ quantity.quantity }}" required>
    </div>

    <div class="col s12">
        <label for="quantity_measurement" >Measurement:</label>
        <select id="quantity_measurement" name="quantity_measurement">
            {% for measurement in measurements_list %}
            <option value="{{measurement.id}}" {% if measurement.id==quantity.measurement_id %} SELECTED{% endif %}>{{measurement.measurement_name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-field col s12">
        <label for="quantity_ingredient" >Ingredient:</label>
        <input type="text" id="quantity_ingredient" name="quantity_ingredient" value="{{ quantity.ingredient.ingredient_name }}" required>
    </div>
        
    <div class="col s12">
        <button class="waves-effect waves-light btn" onclick="M.toast({html: 'Ingredient Updated!'})">Update Ingredient</button>
    </div>

    </form>
</div>
{% endblock %}